{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h2> Ranked CV list </h2><br>
       <table class="table">
           <thead>
           <tr>
               <th>Ranking</th>
               <th>Candidate PDF</th>
               <th>Download</th>
               <!--<th>Delete</th>-->
           </tr>
           </thead>

           <tbody>
           {% for cv in cvs %}
           <tr>
                    <td> {{ forloop.counter }} </td>
                    <td>{{ cv|safe }}</td>
                    <td>
                       <a href="/cvs/download/{{cv}}" class="btn btn-primary btn-sn">
                          {{ cv }}
                       </a>
                   </td>
                   <!--<td>-->
                       <!--<form method="post" action="#">-->
                           <!--{% csrf_token %}-->
                           <!--<button type="submit" class="btn btn-danger btn-sm"> Delete CV </button>-->
                       <!--</form>-->
                   <!--</td>-->
           </tr>
           {% endfor %}
           </tbody>
       </table>
{% endblock content %}